@charset "UTF-8";

/* 
    em HTML é id     =  em css é "#" (Só pode um elemento por documento)
    em HTML é class  =  em css é "." (Pode ter vários elementos por documento)
*/

body {
    background-color: rgb(1, 107, 1);
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(223, 126, 126);
}

h1#principal {
    text-align: center;
    background-color: white;
}

h2 {
    color: rgb(175, 174, 174);
}

.basico {
    color: green;
}

.intermediario {
    color: yellow;
}

.avancado {
    color: red;
}

.amet {
    text-decoration: underline;
}

.destaque {
    background-color: thistle;
}
